/* GLOBAL */
:root {
    --darkRoast: #593b24;
    --boneWhite: #f8f0dd;
    --rawBean:#a3a869;
    --beige:#d3b090;
    --lightRoast:#936e4e;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Roboto Slab', serif;
}

/* HEADER */

header{
    display:flex;
    justify-content: space-between;
    align-content:center;
    background-color: var(--lightRoast);
    max-height: 30px;
}
/* .headLogo{
    width:10px;
    height:10px;
    background-color: blue;
    border-radius: 50%;
} */
header img{
    /* width:10px;
    height:10px;
    max-width: 10px; */
}
header nav{

}

/* MAIN SECTION */

main{
    display:flex;
    flex-direction: row;
    margin:0;
}

#shop{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: var(--boneWhite);
    margin: auto;
    padding: 100px 0;
}
#cart{
    background-color: var(--rawBean);
}

/* @media only screen and (max-width:420px){
    .contactDiv{
        flex-direction: column;
    }
} */

.shopItem {
    margin: 20px;
}

.shopItem__content {
    margin-top: 10px;
    line-height: 1.5;
}

.shopItem__button {
    margin-top: 10px;
}

.productImg {
    width: 150px;
    height: 150px;
}

.cartBtn {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color:#d3b090;
}

.cartBtn:hover {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color:#936e4e;
    color: #f8f0dd;
}
/* FOOTER */

footer{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--darkRoast);
}

.footLogo {
    width:10px;
    height:10px;
    background-color: rgb(228, 172, 20);
    border-radius: 50%;
}