:root {
    --darkRoast: #593b24;
    --boneWhite: #f8f0dd;
    --rawBean:#a3a869;
    --beige:#d3b090;
    --lightRoast:#936e4e;
}


/* 
* {
    border-style: solid;

} */

body {
    
}



header{
    display:flex;
    justify-content: space-between;
    align-content:center;
    background-color: var(--lightRoast);
    max-height: 30px;
    
}
/* .headLogo{
    width:10px;
    height:10px;
    background-color: blue;
    border-radius: 50%;
    /* align-items: center; */
    /* //This is silly whhy are they all named the same! */

} */
header img{
    /* width:10px;
    height:10px;
    max-width: 10px; */
}
header nav{

}



main{
    display:flex;
    flex-direction: row;
    margin:0;
}

#shop{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: var(--boneWhite);
}
#cart{
    background-color: var(--rawBean);
}

/* @media only screen and (max-width:420px){
    .contactDiv{
        flex-direction: column;
    }
} */


footer{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--darkRoast);
}

.footLogo {
    width:10px;
    height:10px;
    background-color: rgb(228, 172, 20);
    border-radius: 50%;
}